build/
tools/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Imported libraries
lib/Audio/
lib/CppPotpourri
lib/ManuvrArduino
lib/ManuvrDrivers
lib/SD/
lib/teensy4_i2c

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Filemanager artifacts
.directory
